#loadingPage {
  background-color: rgba(255,255,255,0.9);
  position: relative;
  height: 100%;
  z-index: 9999;
}
.loadingPageText {
  font-weight: 600;
  text-align: center;
}

.spinner {
  margin: 32vh auto 0 auto;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ef1a21;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.headerTitle {
  text-align: center;
}

.ui-icon-bars.ui-btn-icon-left {
  height: 45px;
  display: block;
}
.menu ul li {
  width: 100% !important;
}

.news {
  height: 100%;
  display: table-cell;
}

.newsLine {
  width: 25px;
  height:100%;
  float: left;
  border-right: 2px solid red;
}

.newsLineSeparator {
  height: 35%;
}
.newsLinePoint {
  width: 12px;
  height: 12px;
  margin-right: -7px;
  background-color: #ef1a21;
  border-radius: 12px;
  float: right;
}

.newsLineText {
  width: 80%;
  margin: 10px 50px;
}

#dialogTitle {
    margin: auto;
    text-align: center;
}

#dialogPage.success #dialogTitle{
  color : green;
}

#dialogPage.success #dialogHead{
  background-color : green;
}

#dialogPage.error #dialogTitle{
  color : #ef1a21;
}

#dialogPage.error #dialogHead{
  background-color : #ef1a21;
}

#dialogPage.warning #dialogTitle{
  color : orange;
}

#dialogPage.warning #dialogHead{
  background-color : orange;
}


#dialogHead.success, .success {
  color : green;
}

#dialogHead.error, .error {
  color : #ef1a21;
}

#dialogHead.warning, .warning {
  color : orange;
}

#dialogHeaderTitle {
  text-shadow: 0 0px 0 #FFFFFF;
  color : #FFFFFF
}

#dialogTimer {
  font-size: 10px;
  float: right;
  bottom: 0px;
}

#dialogHead .ui-icon-delete.ui-btn-icon-notext {
      background-color: transparent !important;
      border-color: transparent; !important;
}
